<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


  <navbar >
        <div class="menus" style="display: flex; justify-content: space-around; background-color: lightblue;">
            <div class="child-menu">
                <a href="/">Home</a>
            </div>
            <div class="child-menu">
                <a href="/about">about</a>
            </div>
            <div class="child-menu">
                <a href="/services">services</a>
            </div>
            <div class="child-menu">
                <a href="/register">register</a>
            </div>
        </div>
    </navbar>


    <H1>Welcome to flask with html</H1>
</body>
</html>